page-lichdangki {
 text-align: center;
}
.row1{
   background-color:rgb(141,185,169);
   color:white;

}
.colormau{
	font-size: 1.3em;
	color: rgb(153, 102, 0);
}
.hear
{
	font-size: 1.5em;
	color: CadetBlue;
}

.bang{
    border-radius: 2px;
    padding: 5px;
    padding-bottom: 10px;
    text-align: center;
    border: 1pt solid black;
}


.col{
    border: 1pt solid black;

}
.col3{
  color:red;

}
.col4{
  color:rgb(51, 31, 0)
}
.col1{
  border: 1pt solid black;
}
.cred{
   background-color : #ff9999 !important;
} 
  .cgreed{
background-color:#99ff99 !important;
  } 
  .cyellow{
  background-color:#ffff99 !important;
  }
.col5{
  color:rgb(204, 122, 0);
}
.col6{
  color:black;
}
.col7{
  color:rgb(77, 77, 0);
}