page-admin {

}
.btdanhsach{
	background-color: rgb(141,185,169)
}
.btxinnghi{
	background-color: rgb(141,185,169)
}
.btthongbao{
	background-color: rgb(141,185,169)
}
.img{
 	background-image:url('../assets/imgs/8.jpg') ;
	 background-repeat: no-repeat;
	 background-size: 100% 100%;
	
   }
     .bticon{
   color:black;
   }