page-lichvadanhsachdiemdanh {


.btdangki{
   background-color: rgb(141,185,169)
}
.img{
 	background-image:url('../assets/imgs/8.jpg') ;
	 background-repeat: no-repeat;
	 background-size: 100% 100%;
	
   }
 .imga{
 background-image:url('../assets/imgs/8.jpg') ;
	 background-repeat: no-repeat;
	 background-size: 100% 100%;
 }
}

