page-user{
    text-align: center;
}
.header{
    color: black;
}
.tbnv{
    text-align: right;
    background-color: rgb(141,185,169);
}
.iconthongbao{
    
    color: black
}

.h5{
    text-align: left;
    padding-top: 20pt;
    padding-bottom: 5pt;
}

.bang{
    border-radius: 2px;
    padding: 5px;
    padding-bottom: 10px;
    text-align: center;
    
}
.col10{
    background-color:rgb(141,185,169);
    color:white;
}
.col11{
    color:rgb(0, 0, 77);
}
.col12{
    color:rgb(77, 0, 0);
}
.col13{
    color:black;
}
ion-col{
    border: 1pt solid rgb(175, 176, 177)
}

.btdiemdanh{
    background-color: rgb(141,185,169);
}



.btnghiphep{
     background-color: rgb(141,185,169);
}
.mauh4{
    color:rgb(0, 128, 128);
    font-size: 2em;

}
.red{
    background-color: thistle;
    
}